
<table class="table"> 
    <tbody>
        <tr *ngFor = "let nota of notas" (click)="notaSelecionada=nota">
            <td>{{nota.id}}</td>
            <td>{{nota.titulo}}</td>
            <td>{{nota.contenido}}</td>
        </tr>
    </tbody>
</table>

<br>
<input type="text" name="titulo" id="titulo" [(ngModel)]="notaNueva.titulo">
<input type="text" name="contenido" id="contenido" [(ngModel)]="notaNueva.contenido">
<button (click)="insertarNota()">Insertar Nota</button>

<br>

<input type="text" name="titulo" id="titulo" [(ngModel)]="notaSelecionada.titulo">
<input type="text" name="contenido" id="contenido" [(ngModel)]="notaSelecionada.contenido">
<button (click)="editarNota(notaSelecionada)">Editar Nota</button>
<button (click)="borrarNota(notaSelecionada)">Borrar Nota</button>

